<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="language" content="fr-FR" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-sclae=1.0, user-scalable=no" />
  <meta name="msapplication-Tilecolor" content="#ffffff"/>
  <meta name="msapplication-TileImage" content="./favicons/ms-icon-144x144.png" />
  <meta name="theme-color" content="#ffffff" />
  <link rel="shortcut icon" href="./favicons/favicon.ico" type="image/x-icon" />
  <link rel="icon" href="./favicons/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" sizes="60x60" href="./favicons/apple-icon-60x60.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="./favicons/apple-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="./favicons/apple-icon-180x180.png" />
  <link rel="icon" sizes="16x16" href="./favicons/icon-16x16.png"/>
  <link rel="icon" sizes="32x32" href="./favicons/icon-32x32.png"/>
  <link rel="icon" sizes="96x96" href="./favicons/icon-96x96.png"/>
  <link rel="icon" sizes="192x192" href="./favicons/icon-192x192.png"/>
  <title>Learn Khmer App</title>
</head>
<body>
  <div id="app"><%- content %></div>
</body>
</html>
